
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green-1: #53845D;
    --blue-white: #d5dfed;
    --light-blue: #ffffff;
    --sage-green: #81ce87; 
}

body {
    color: var(--green-1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--green-1);
    padding: 20px 0 20px 0;
}

header h1 {
    background-color: var(--light-blue);
    display: block;
    text-align: center;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: var(--green-1);
}

nav ul {
    list-style: none;
    width: 100%;
    display: inline-block;
    height: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 2px 0 2px;
}

nav ul li a {
    text-decoration: none;
    font-size: large;
    color: var(--light-blue);
    padding: 10px;
    border-bottom: 3px solid var(--light-blue);
    line-height: 3.0;
}

.hero {
    background-image: url("../images/placeimg_640_450_any.jpg");
    background-size: cover;
    background-position: 50% 35%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero div {
    background: var(--light-blue);
    color: var(--green-1);
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.section-title {
    text-align: center;
    border-bottom: 5px solid var(--green-1);
    border-top: 5px solid var(--green-1);
    background-color: var(--light-blue);
}

.section-content {
    font-size: small;
    padding: 20px;
}

.section-content p {
    line-height: 1.5;
}

#about-me p {
    font-size: medium;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.grid-item {
    border: 2px solid var(--green-1);
    margin: 20px;
    padding: 30px 30px 30px 0;
    background-size: 200%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-content a {
    text-decoration: none;
    color: var(--green-1);
}

.run-buddy {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
}

.password-gen {
    background-image: url("../images/03-javascript-homework-demo.png");
    background-size: cover;
}

.mini-quiz {
    background-image: url("../images/04-web-apis-homework-demo.gif");
    background-size: cover;
}

.blue-background {
    background-color: var(--light-blue);
    padding: 20px;
    width: 75%;
}

#contact-me .section-content div {
    text-align: center;
}

#contact-me .section-content a {
    font-size: large;
    border-bottom: 2px solid var(--green-1);
    line-height: 2.0;
    padding: 10px;
}


/*MEDIA QUERY FOR SCREEN LARGER THAN MOBILE PHONE*/
@media screen and (min-width: 575px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .grid-item.large {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}

/*MEDIA QUERY FOR SCREEN LARGER THAN TABLET*/

@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
    }

    header ul {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    header ul li {
        margin: 0 10px 0 10px
    }

    header nav ul li a:hover {
        background: var(--sage-green);
        border-radius: 10px;
        border: none;
        transition: 0.5s;
    }

    header h1 {
        padding: 10px 10px 10px 50px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .hero {
        height: 500px
    }

    .section-content {
        padding: 0;
        width: 75%;
    }

    .section-container {
        font-size: xx-large;
        padding: 30px;
        display: flex;
        justify-content: left;
    }

    .section-container h1 {
        border: none;
        margin-left: 100px;
        padding-right: 20px;
        text-align: right;
        border-right: 5px solid var(--green-1);
        width: 200px;
    }

    #about-me p {
        text-align: left;
        margin-left: 20px;
    }


    #work .background {
        background: rgba(154, 214, 210, 0.85)
    }

    #work .grid-item {
        position: relative;
    }

    #work .grid-item::after {
        content: "";
        height: 100%;
        width: 100%;
        background: rgba(129, 206, 135,0.5);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        opacity: 0;
    }
    
    #work .grid-item:hover.grid-item::after {
        opacity: 1;
        transition: 0.5s;
    }

    #contact-me .section-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 20px;
    }

    #contact-me a:hover {
        background: var(--sage-green);
        border-radius: 10px;
        border: none;
        transition: 0.5s;
    }

    #resume .section-content {
        justify-content: left;
        margin: 20px;
    }

    #resume a:hover {
        border: 10px solid var(--sage-green);
        transition: 0.5s;
    }

    #resume .section-content a {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
